[submodule "unbox-skills"]
	path = unbox-skills
	url = git@github.com:freemty/unbox-skills.git
[submodule "labmate"]
	path = labmate
	url = git@github.com:freemty/labmate.git
[submodule "paper-style"]
	path = paper-style
	url = git@github.com:freemty/paper-style.git
[submodule "beamer-style"]
	path = beamer-style
	url = git@github.com:freemty/beamer-style.git
[submodule "no-more-fomo"]
	path = no-more-fomo
	url = git@github.com:freemty/no-more-fomo.git
[submodule "meta-audit"]
	path = meta-audit
	url = git@github.com:freemty/meta-audit.git
[submodule "selfos"]
	path = selfos
	url = git@github.com:freemty/selfos-private.git
[submodule "paper-storyteller"]
	path = paper-storyteller
	url = git@github.com:freemty/paper-storyteller.git
[submodule "flipradio-write-skill"]
	path = flipradio-write-skill
	url = git@github.com:freemty/flipradio-write-skill.git
[submodule "paper-review"]
	path = paper-review
	url = git@github.com:freemty/paper-review.git
