[submodule "unbox-skills"]
	path = unbox-skills
	url = git@github.com:freemty/unbox-skills.git
[submodule "labmate"]
	path = labmate
	url = git@github.com:freemty/labmate.git
[submodule "paper-style"]
	path = paper-style
	url = git@github.com:freemty/paper-style.git
[submodule "beamer-style"]
	path = beamer-style
	url = ssh://git@github.com/freemty/beamer-style.git
[submodule "no-more-fomo"]
	path = no-more-fomo
	url = ssh://git@github.com/freemty/no-more-fomo.git
