[submodule "skills/beamer-style"]
	path = skills/beamer-style
	url = git@github.com:freemty/beamer-style.git
[submodule "skills/no-more-fomo"]
	path = skills/no-more-fomo
	url = git@github.com:freemty/no-more-fomo.git
[submodule "skills/paper-storyteller"]
	path = skills/paper-storyteller
	url = git@github.com:freemty/paper-storyteller.git
[submodule "skills/paper-style"]
	path = skills/paper-style
	url = git@github.com:freemty/paper-style.git
[submodule "skills/flipradio-write-skill"]
	path = skills/flipradio-write-skill
	url = git@github.com:freemty/flipradio-write-skill.git
[submodule "plugins/labmate"]
	path = plugins/labmate
	url = git@github.com:freemty/labmate.git
[submodule "plugins/meta-audit"]
	path = plugins/meta-audit
	url = git@github.com:freemty/meta-audit.git
[submodule "plugins/unbox-skills"]
	path = plugins/unbox-skills
	url = git@github.com:freemty/unbox-skills.git
[submodule "projects/selfos"]
	path = projects/selfos
	url = git@github.com:freemty/selfos-private.git
[submodule "plugins/paper-review"]
	path = plugins/paper-review
	url = git@github.com:freemty/paper-review.git
